<h1>Editing <%= @actor.name %></h1>

<%= form_for @actor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.submit %>
<% end %>

<p>
  <%= link_to "Delete Actor", actor_path(@actor), method:"Delete", data: { confirm: "Are you sure?!"} %>
</p>

<% if @actor.errors.any?%>
  <% @actor.errors.full_messages.each do |error|%>
    <p class="text-danger">
      <%= error %>
    </p>
    <% end%>
  <% end%>

<p>
  <%= link_to "Back to #{@actor.name}", actor_path %>
</p>