<<<<<<< HEAD

<h1>All Actors</h1>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<% @actors.each do |actor| %>
  <p><%= link_to "#{actor.name}", actor %></p>
<% end %>

<p>
  <%= link_to "Add New Actor", new_actor_path %>
</p>

<p>
  <%= link_to "View All Movies", movies_path %>
</p>

=======
<h1>Actors</h1>

<ul>
  <% @actors.each do |star| %>
  <li><%= link_to star.name, actor_path(star) %></li>
  <% end %>
</ul>

<%= link_to "Add new actor", new_actor_path %>
<br><br>
<%= link_to "Back to home", root_path %>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
