<h1>Add New Actor</h1>

<%= form_for @actor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.submit %>
<% end %>

<% if @actor.errors.any?%>
  <% @actor.errors.full_messages.each do |error|%>
    <p class="text-danger">
      <%= error %>
    </p>
    <% end%>
  <% end%>

<p>
  <%= link_to "Back to Actors", actors_path %>
</p>